<div id="section-content" class="section-content section">
    <div class="container py-5">
        <div class="section-col-max mx-auto">
            <h3 class="section-title mb-5">What's Included</h3>

            <div class="data-summary justify-content-center text-center">
                <div class="row mb-5">
                    <div class="item col-6 col-lg-3 mb-3 mb-lg-0">
                        <div class="data">{{ site.course_lessons }}</div>
                        <div class="meta">Lossons</div>
                    </div>
                    <!--//item-->
                    <div class="item col-6 col-lg-3 mb-3 mb-lg-0">
                        <div class="data">{{ site.course_videos }}</div>
                        <div class="meta">Videos</div>
                    </div>
                    <!--//item-->
                    <div class="item col-6 col-lg-3 mb-3 mb-lg-0">
                        <div class="data">{{ site.course_resourses }}</div>
                        <div class="meta">Resources</div>
                    </div>
                    <!--//item-->
                    <div class="item col-6 col-lg-3 mb-3 mb-lg-0">
                        <div class="data">{{ site.course_duration }}</div>
                        <div class="meta">Hours</div>
                    </div>
                    <!--//item-->
                </div>
                <!--//row-->
            </div>
            <!--//course-summary-->

            <h4 class="text-center mb-4">Course Content</h4>

            <div class="accordion module-accordion" id="module-accordion">
                <div class="module-item card">
                    <div class="module-header card-header" id="module-heading-1">
                        <h4 class="module-title mb-0">
                            <a class="card-toggle module-toggle" href="#module-1" data-toggle="collapse"
                                data-target="#module-1" aria-expanded="true" aria-controls="module-1">
                                <i class="module-toggle-icon fas fa-minus mr-2"></i>
                                Lesson 0 : Let's get started !
                            </a>
                        </h4>
                    </div>
                    <!--//card-header-->

                    <div id="module-1" class="module-content collapse show" aria-labelledby="module-heading-1"
                        data-parent="#module-accordion">
                        <div class="card-body p-0">
                            <div class="module-intro p-3">
                                <p>
                                    <b>
                                        Requirements : Your PC & Internet *___*
                                    </b>
                                </p>
                                <p style="font-family: 'Raleway', sans-serif ; color: #BABAB9">
                                    Start...
                                </p>
                            </div>
                            <div class="module-sub-item p-3">
                                <div class="row justify-content-between">
                                    <div class="col-9"><span class="theme-text-secondary mr-2">0.0</span>Download the
                                        IDE
                                        <a href="https://www.jetbrains.com/idea/download/" style="color: #85C196">
                                            <b>here</b>
                                        </a>
                                    </div>
                                    <div class="col-3 text-right extra-info"><span
                                            class="icon dripicons-download mr-2"></span>IDE
                                    </div>
                                </div>
                            </div>
                            <!--//module-sub-item-->
                            <div class="module-sub-item p-3">
                                <div class="row justify-content-between">
                                    <div class="col-9">
                                        <p>
                                            <span class="theme-text-secondary mr-2">0.1.1</span><a
                                                class="video-play-trigger"
                                                href="https://www.dideo.ir/pre_embed/v/yt/c0efB_CKOYo"
                                                data-toggle="modal" data-target="#modal1">Run Intellij on
                                                Mac</a><span class="badge badge-primary ml-2">Video</span>
                                        </p>
                                        <p>
                                            <span class="theme-text-secondary mr-2">0.1.2</span><a
                                                class="video-play-trigger"
                                                href="https://www.dideo.ir/pre_embed/v/yt/FGIWvW39VUU"
                                                data-toggle="modal" data-target="#modal2">Run Intellij on
                                                Windows</a><span class="badge badge-primary ml-2">Video</span>
                                        </p>
                                        <p>
                                            <span class="theme-text-secondary mr-2">0.1.3</span><a
                                                class="video-play-trigger"
                                                href="https://www.dideo.ir/pre_embed/v/yt/VBkjXV1aSRA"
                                                data-toggle="modal" data-target="#modal3">Run Intellij on
                                                Linux</a><span class="badge badge-primary ml-2">Video</span>
                                        </p>
                                    </div>
                                    <div class="col-3 text-right extra-info">00:04:31
                                        <p></p>
                                        <p>
                                            00:05:31
                                        </p>
                                        <p></p>
                                        <p>
                                            00:10:46
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--//module-sub-item-->
                            <div class="module-sub-item p-3">
                                <div class="row justify-content-between">
                                    <div class="col-9"><span class="theme-text-secondary mr-2">0.2</span>Setup Java like
                                        the
                                        descrption presnetd
                                        <a href="https://www3.ntu.edu.sg/home/ehchua/programming/howto/JDK_Howto.html"
                                            style="color: #85C196">here</a>
                                    </div>
                                    <div class="col-3 text-right extra-info">Documentation</div>
                                </div>
                            </div>
                            <!--//module-sub-item-->
                            <div class="module-sub-item p-3">
                                <div class="row justify-content-between">
                                    <div class="col-9"><span class="theme-text-secondary mr-2"><b
                                                style="color: #9999ff">EXTRA</b></span>All changes in
                                        different
                                        versions of Java with example
                                        <a href="https://www.techgeeknext.com/java/java14-features"
                                            style="color: #785C196">here</a>
                                    </div>
                                    <div class="col-3 text-right extra-info">Documentation</div>
                                </div>
                            </div>
                            <!--//module-sub-item-->
                        </div>
                        <!--//card-body-->
                    </div>
                    <!--//module-content-->
                </div>
                <!--//Lesson0-->

                <div class="module-item card">
                    <div class="module-header card-header" id="module-heading-2">
                        <h4 class="module-title mb-0">
                            <a class="card-toggle module-toggle" href="#module-2" data-toggle="collapse"
                                data-target="#module-2" aria-expanded="true" aria-controls="module-2">
                                <i class="module-toggle-icon fas fa-plus mr-2"></i>
                                Lesson 1 : Know the basics
                            </a>
                        </h4>
                    </div>
                    <!--//card-header-->

                    <div id="module-2" class="module-content collapse" aria-labelledby="module-heading-2"
                        data-parent="#module-accordion">
                        <div class="card-body p-0">
                            <div class="module-intro p-3">
                                <p>
                                    <b>
                                        Requirements : Search, Search, Search
                                    </b>
                                </p>
                                <p style="font-family: 'Raleway', sans-serif ; color: #BABAB9">
                                    These are the essentials,learn them well while doing <b>Exercise 1</b>
                                    and
                                    please learn how to search.
                                </p>
                            </div>
                            <div class="module-sub-item p-3">
                                <div class="row justify-content-between">
                                    <div class="col-9"><span class="theme-text-secondary mr-2">1.1</span>Data Structures
                                        in
                                        Java:
                                        <p>
                                        <ul style="list-style-type: circle;">
                                            <li><a href="https://www.geeksforgeeks.org/set-in-java/"
                                                    style="color: #85C196">Set</a></li>
                                            <li><a href="https://www.geeksforgeeks.org/arraylist-in-java/"
                                                    style="color: #85C196">Arraylist(1)</a></li>
                                            <li><a href="https://www.w3schools.com/java/java_arraylist.asp"
                                                    style="color: #85C196">Arraylist(2)</a></li>
                                            <li><a href="https://www.w3schools.com/java/java_hashmap.asp"
                                                    style="color: #85C196">HashMap</a></li>
                                            <li>
                                                <a href="https://www.geeksforgeeks.org/stringbuilder-class-in-java-with-examples/"
                                                    style="color: #85C196">StringBuilder</a></li>
                                            <li>
                                                <a href="https://www.geeksforgeeks.org/treeset-in-java-with-examples/"
                                                    style="color: #85C196">TreeSet</a></li>
                                        </ul>
                                        </p>
                                    </div>
                                    <div class="col-3 text-right extra-info"><span
                                            class="icon dripicons-download mr-2"></span>Documentation
                                    </div>
                                </div>
                            </div>
                            <!--//module-sub-item-->
                            <div class="module-sub-item p-3">
                                <div class="row justify-content-between">
                                    <div class="col-9"><span class="theme-text-secondary mr-2">1.2</span>Regex in Java
                                        available
                                        in these sources:
                                        <p>
                                        <ul style="list-style-type: circle;">
                                            <li>
                                                <a href="https://www.tutorialspoint.com/java/java_regular_expressions.htm"
                                                    style="color: #85C196">Tutorialspoint</a></li>
                                            <li>
                                                <a href="https://www.geeksforgeeks.org/regular-expressions-in-java/"
                                                    style="color: #85C196">GeeksForGeeks</a></li>
                                            <li><a href="https://www.javatpoint.com/java-regex"
                                                    style="color: #7fabd4">Javatpoint</a></li>
                                            <li><a href="https://regexr.com/" style=" color: #85C196">Regexer</a></li>
                                        </ul>
                                        </p>
                                    </div>
                                    <div class="col-3 text-right extra-info"><span
                                            class="icon dripicons-download mr-2"></span>Documentation
                                    </div>
                                </div>
                            </div>
                            <!--//module-sub-item-->
                            <div class="module-sub-item p-3">
                                <div class="row justify-content-between">
                                    <div class="col-9"><span class="theme-text-secondary mr-2">1.3</span>
                                        <a style="color: #ff9966"
                                            href="https://github.com/AdvProg2020/Documents/raw/master/homeworks/HW1/HW1.pdf">Exercise1
                                        </a>
                                    </div>
                                    <div class="col-3 text-right extra-info"><span
                                            class="icon dripicons-download mr-2"></span>Exercise
                                    </div>
                                </div>
                            </div>
                            <!--//module-sub-item-->
                            <div class="module-sub-item p-3">
                                <div class="row justify-content-between">
                                    <div class="col-9"><span class="theme-text-secondary mr-2">1.4</span>Accepted
                                        answers for
                                        exercise1,
                                        <a style="color: #ff8080"
                                            href="https://drive.google.com/file/d/1V56V40oxhNkIqgqNyJRdZk-CraXHlLTJ/view?usp=sharing">.zip</a>
                                    </div>
                                    <div class="col-3 text-right extra-info"><span
                                            class="icon dripicons-download mr-2"></span>Exercise
                                    </div>
                                </div>
                            </div>
                            <!--//module-sub-item-->
                        </div>
                        <!--//card-body-->
                    </div>
                    <!--//module-content-->
                </div>
                <!--//Lesson1-->

                <div class="module-item card">
                    <div class="module-header card-header" id="module-heading-3">
                        <h4 class="module-title mb-0">
                            <a class="card-toggle module-toggle" href="#module-3" data-toggle="collapse"
                                data-target="#module-3" aria-expanded="true" aria-controls="module-3">
                                <i class="module-toggle-icon fas fa-plus mr-2"></i>
                                Lesson 2 : Clean Code
                            </a>
                        </h4>
                    </div>
                    <!--//card-header-->

                    <div id="module-3" class="module-content collapse" aria-labelledby="module-heading-3"
                        data-parent="#module-accordion">
                        <div class="card-body p-0">
                            <div class="module-intro p-3">
                                <p>
                                    <b>
                                        Requirements : Some of your previous codes,
                                        get the soap ready
                                    </b>
                                </p>
                                <p style="font-family: 'Raleway', sans-serif ; color: #BABAB9">
                                    Keeping your code clean is a very
                                    important step in becoming
                                    a good programmer. </p>
                            </div>
                            <div class="module-sub-item p-3">
                                <div class="row justify-content-between">
                                    <div class="col-9"><span class="theme-text-secondary mr-2">2.1</span>
                                        <a href="https://www.slideshare.net/arturoherrero/clean-code-8036914">Slides</a>
                                        on clean code
                                    </div>
                                    <div class="col-3 text-right extra-info"><span
                                            class="icon dripicons-download mr-2"></span>Slides
                                    </div>
                                </div>
                            </div>
                            <!--//module-sub-item-->
                            <div class="module-sub-item p-3">
                                <div class="row justify-content-between">
                                    <div class="col-9"><span class="theme-text-secondary mr-2">2.2</span>A
                                        <a
                                            href="https://drive.google.com/file/d/1IMa5ikoEXWxV4BTiEkFgbgQGjWbyDPGr/view?usp=sharing">guide</a>
                                        to all shortcuts in Intellij, What is "Refactor" and how does it
                                        help ?
                                    </div>
                                    <div class="col-3 text-right extra-info"><span
                                            class="icon dripicons-download mr-2"></span>Documentation
                                    </div>
                                </div>
                            </div>
                            <!--//module-sub-item-->
                            <div class="module-sub-item p-3">
                                <div class="row justify-content-between">
                                    <div class="col-9"><span class="theme-text-secondary mr-2">2.3</span>
                                        Documenting your code is a must and you should never
                                        forget about it. Start this lesson <a
                                            href="https://www.oracle.com/technical-resources/articles/java/javadoc-tool.html">here</a>
                                    </div>
                                    <div class="col-3 text-right extra-info"><span
                                            class="icon dripicons-download mr-2"></span>Documentation
                                    </div>
                                </div>
                            </div>
                            <!--//module-sub-item-->
                            <div class="module-sub-item p-3">
                                <div class="row justify-content-between">
                                    <div class="col-9"><span class="theme-text-secondary mr-2"><b>EXTRA</b></span>

                                        Choosing the right name for the variable is always
                                        important. Study <a
                                            href="https://exceptionnotfound.net/the-golden-rule-of-variable-naming/">this</a>
                                        essay or its <a
                                            href="https://virgool.io/@ilbeygi.m/the-golden-rule-of-variable-naming-dcnlzldrdaco">translation</a>
                                        to get
                                        a better view on variable names.
                                    </div>
                                    <div class="col-3 text-right extra-info"><span
                                            class="icon dripicons-download mr-2"></span>Documentation
                                    </div>
                                </div>
                            </div>
                            <!--//module-sub-item-->
                        </div>
                        <!--//card-body-->
                    </div>
                    <!--//module-content-->
                </div>
                <!--//Lesson2-->

                <div class="module-item card">
                    <div class="module-header card-header" id="module-heading-4">
                        <h4 class="module-title mb-0">
                            <a class="card-toggle module-toggle" href="#module-4" data-toggle="collapse"
                                data-target="#module-4" aria-expanded="true" aria-controls="module-4">
                                <i class="module-toggle-icon fas fa-plus mr-2"></i>
                                Review 1
                            </a>
                        </h4>
                    </div>
                    <!--//card-header-->

                    <div id="module-4" class="module-content collapse" aria-labelledby="module-heading-4"
                        data-parent="#module-accordion">
                        <div class="card-body p-0">
                            <div class="module-intro p-3">
                                <p>
                                    <b>
                                        Requirements : Exercise 1, Data Structures
                                    </b>
                                </p>
                                <p style="font-family: 'Raleway', sans-serif ; color: #BABAB9">
                                    Review on some Data structures
                                    by Hamed Khanaki
                                </p>
                            </div>
                            <div class="module-sub-item p-3">
                                <div class="row justify-content-between">
                                    <div class="col-9">
                                        <span class="theme-text-secondary mr-2">R1.1</span><a class="video-play-trigger"
                                            href="https://www.aparat.com/v/2wQHd" data-toggle="modal"
                                            data-target="#modal4">Video</a><span
                                            class="badge badge-primary ml-2">Video</span>
                                    </div>
                                    <div class="col-3 text-right extra-info">01:18:20</div>
                                </div>
                            </div>
                            <!--//module-sub-item-->
                            <div class="module-sub-item p-3">
                                <div class="row justify-content-between">
                                    <div class="col-9"><span class="theme-text-secondary mr-2">R1.2</span>Codes from the
                                        session
                                        available
                                        <a href="https://github.com/AdvProg2020/TAClass_Session1"
                                            style="color: #85C196">here</a>
                                    </div>
                                    <div class="col-3 text-right extra-info">Code</div>
                                </div>
                            </div>
                            <!--//module-sub-item-->
                        </div>
                        <!--//card-body-->
                    </div>
                    <!--//module-content-->
                </div>
                <!--//Review1-->

                <div class="module-item card">
                    <div class="module-item card">
                        <div class="module-header card-header" id="module-heading-5">
                            <h4 class="module-title mb-0">
                                <a class="card-toggle module-toggle" href="#module-5" data-toggle="collapse"
                                    data-target="#module-5" aria-expanded="true" aria-controls="module-5">
                                    <i class="module-toggle-icon fas fa-plus mr-2"></i>
                                    Extra Exercise 1
                                </a>
                            </h4>
                        </div>
                        <!--//card-header-->

                        <div id="module-5" class="module-content collapse" aria-labelledby="module-heading-5"
                            data-parent="#module-accordion">
                            <div class="card-body p-0">
                                <div class="module-intro p-3">
                                    <p>
                                        <b>
                                            Requirements : Regex (Pattern, Matcher), Stack
                                        </b>
                                    </p>
                                    <p style="font-family: 'Raleway', sans-serif ; color: #BABAB9">
                                        A code to validate HTML by
                                        Ali Shirmohammadi
                                    </p>
                                </div>
                                <!--//module-intro-->
                                <div class="module-sub-item p-3">
                                    <div class="row justify-content-between">
                                        <div class="col-9"><span class="theme-text-secondary mr-2">EE1.1</span>
                                            <a
                                                href="https://github.com/AdvProg2020/TA_AdditionalProblems/blob/master/html_validator/README.md">Question</a>
                                        </div>
                                        <div class="col-3 text-right extra-info">Exercise</div>
                                    </div>
                                </div>
                                <!--//module-sub-item-->
                                <div class="module-sub-item p-3">
                                    <div class="row justify-content-between">
                                        <div class="col-9">
                                            <span class="theme-text-secondary mr-2">EE1.2</span><a
                                                class="video-play-trigger" href="https://www.aparat.com/v/nCaQA"
                                                data-toggle="modal" data-target="#modal5">Video</a><span
                                                class="badge badge-primary ml-2">Video</span>
                                        </div>
                                        <div class="col-3 text-right extra-info">00:41:07</div>
                                    </div>
                                </div>
                                <!--//module-sub-item-->
                                <div class="module-sub-item p-3">
                                    <div class="row justify-content-between">
                                        <div class="col-9"><span class="theme-text-secondary mr-2">EE1.3</span>Codes
                                            from the
                                            session
                                            available
                                            <a href="https://github.com/AdvProg2020/TA_AdditionalProblems/blob/master/html_validator/src/HtmlValidator.java"
                                                style="color: #85C196">here</a>
                                        </div>
                                        <div class="col-3 text-right extra-info">Code</div>
                                    </div>
                                </div>
                                <!--//module-sub-item-->
                            </div>
                            <!--//card-body-->
                        </div>
                        <!--//module-content-->
                    </div>
                </div>
                <!--//ExtraExercise1-->

                <div class="module-item card">
                    <div class="module-header card-header" id="module-heading-6">
                        <h4 class="module-title mb-0">
                            <a class="card-toggle module-toggle" href="#module-6" data-toggle="collapse"
                                data-target="#module-6" aria-expanded="true" aria-controls="module-6">
                                <i class="module-toggle-icon fas fa-plus mr-2"></i>
                                Lesson 3 : Object Oriented
                                Programming
                            </a>
                        </h4>
                    </div>
                    <!--//card-header-->

                    <div id="module-6" class="module-content collapse" aria-labelledby="module-heading-6"
                        data-parent="#module-accordion">
                        <div class="card-body p-0">
                            <div class="module-intro p-3">
                                <p>
                                    <b>
                                        Requirements : Data Structures
                                    </b>
                                </p>
                                <p style="font-family: 'Raleway', sans-serif ; color: #BABAB9">
                                    Start an Object Oriented program
                                    by Hamed Khanaki,
                                    <b>Exercise 2</b>
                                </p>
                            </div>
                            <div class="module-sub-item p-3">
                                <div class="row justify-content-between">
                                    <div class="col-9">
                                        <span class="theme-text-secondary mr-2">3.1</span><a class="video-play-trigger"
                                            href="https://www.aparat.com/v/gbtGH" data-toggle="modal"
                                            data-target="#modal6">Video</a><span
                                            class="badge badge-primary ml-2">Video</span>
                                    </div>
                                    <div class="col-3 text-right extra-info">01:38:29</div>
                                </div>
                            </div>
                            <!--//module-sub-item-->
                            <div class="module-sub-item p-3">
                                <div class="row justify-content-between">
                                    <div class="col-9"><span class="theme-text-secondary mr-2">3.2</span>Codes from the
                                        session
                                        available
                                        <a href="https://github.com/AdvProg2020/TAClass_Session2"
                                            style="color: #85C196">here</a>
                                    </div>
                                    <div class="col-3 text-right extra-info">Code</div>
                                </div>
                            </div>
                            <!--//module-sub-item-->
                            <div class="module-sub-item p-3">
                                <div class="row justify-content-between">
                                    <div class="col-9"><span class="theme-text-secondary mr-2">3.3</span>
                                        <a style="color: #ff9966"
                                            href="https://github.com/AdvProg2020/Documents/raw/master/homeworks/HW2/HW2.pdf">Exercise2
                                        </a>
                                    </div>
                                    <div class="col-3 text-right extra-info"><span
                                            class="icon dripicons-download mr-2"></span>Exercise
                                    </div>
                                </div>
                            </div>
                            <!--//module-sub-item-->
                            <div class="module-sub-item p-3">
                                <div class="row justify-content-between">
                                    <div class="col-9"><span class="theme-text-secondary mr-2">3.4</span>Use
                                        <a href="https://www.slideshare.net/arturoherrero/clean-code-8036914">this</a>
                                        to compare your output to the output expected
                                    </div>
                                    <div class="col-3 text-right extra-info"><span
                                            class="icon dripicons-download mr-2"></span>Documentation
                                    </div>
                                </div>
                            </div>
                            <!--//module-sub-item-->
                            <div class="module-sub-item p-3">
                                <div class="row justify-content-between">
                                    <div class="col-9"><span class="theme-text-secondary mr-2">3.5</span>Accepted
                                        answers for
                                        exercise2,
                                        <a style="color: #ff8080"
                                            href="https://drive.google.com/file/d/1xMjLmwoAUmDpldswt9AU-MpegxaLo9YX/view?usp=sharing">.zip</a>
                                    </div>
                                    <div class="col-3 text-right extra-info"><span
                                            class="icon dripicons-download mr-2"></span>Exercise
                                    </div>
                                </div>
                            </div>
                            <!--//module-sub-item-->
                        </div>
                        <!--//card-body-->
                    </div>
                    <!--//module-content-->
                </div>
                <!--//Lesson3-->

            </div>
            <!--//module-accordion-->

            <div class="text-center mt-5">
                <a class="btn btn-primary scrollto" href="#section-pricing">Enrol Now</a>
            </div>


        </div>
    </div>
    <!--//container-->
</div>
<!--//section-content-->