<div class="container text-center">
    <div class="container-inner p-5 position-relative theme-bg-primary rounded text-white">
        <div class="section-bg-container"></div>
        <div class="section-col-max mx-auto">
            <h3 class="section-title mb-4 text-white">Get In Touch</h3>
            <div class="profile-holder mb-3"><img class="profile-image" src="assets/images/tutor-sm.jpg" alt="image">
            </div>
            <p class="intro">Want to hire me for your staff training or speaking at your conference?
                <br>You can email me at <a href="#">hello@yourwebsite.com</a></p>
            <h5 class="intro text-white">Know someone who may find the course useful?</h5>
            <div>Please help me spread the word! :)</div>
            <div class="text-center mt-4">
                <ul class="social-list list-unstyled mx-auto mb-0">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fas fa-envelope fa-fw"></i></a>
                    </li>
                </ul>
                <!--//social-list-->
            </div>
        </div>
        <!--//section-col-max-->
    </div>
    <!--//container-inner-->
</div>
<!--//container-->