<div class="my-lg-5">
    <div class="container">
        <div class="container-inner p-5 theme-bg-light rounded">
            <div class="row">
                <div class="col-12 col-lg-3">
                    <h3 class="section-title text-left mb-4">FAQ</h3>
                    <div class="intro mb-5 pr-lg-3">Can't find the answer you're looking for? Feel free to
                        <a class="theme-link" href="#">get in touch</a>.
                    </div>
                </div>
                <div class="col-12 col-lg-9">
                    <div class="faq-items pl-lg-3">
                        <div class="item">
                            <h4 class="faq-q mb-2"><i class="far fa-question-circle mr-2 text-primary"></i>What lorem
                                ipsum
                                dolor sit amet?</h4>
                            <div class="faq-a">
                                <p>Sed venenatis porta ante, nec accumsan leo suscipit ac. Praesent
                                    ultricies tortor nisi, eu convallis ex lacinia ac. Praesent vel risus eu
                                    ligula ullamcorper condimentum eu ac leo. Praesent leo odio <a href="#">link
                                        example</a> interdum vitae mi vitae, maximus porta
                                    lectus. Maecenas venenatis, felis quis rutrum luctus, tortor turpis
                                    maximus lacus, at scelerisque nisl metus nec augue. </p>
                            </div>
                        </div>
                        <!--//item-->
                        <div class="item">
                            <h4 class="faq-q mb-2"><i class="far fa-question-circle mr-2 text-primary"></i>How to lorem
                                ipsum
                                dolor sit amet?</h4>
                            <div class="faq-a">
                                <p>Donec tincidunt porttitor dictum. Cras laoreet ipsum vitae massa
                                    suscipit, at pretium justo molestie. Duis gravida vitae dui vel posuere.
                                    Maecenas pharetra, odio nec interdum efficitur, eros magna bibendum
                                    tortor, at pellentesque nunc quam eu diam. </p>
                            </div>
                        </div>
                        <!--//item-->
                        <div class="item">
                            <h4 class="faq-q mb-2"><i class="far fa-question-circle mr-2 text-primary"></i>Does lorem
                                ipsum
                                dolor sit amet?</h4>
                            <div class="faq-a">
                                <p>Maecenas felis mauris, pharetra at congue sed, semper et orci.
                                    Suspendisse maximus viverra tellus vel dictum. Cras lacinia lectus
                                    magna, facilisis congue lacus tristique non. </p>
                            </div>
                        </div>
                        <!--//item-->
                        <div class="item">
                            <h4 class="faq-q mb-2"><i class="far fa-question-circle mr-2 text-primary"></i>When do you
                                lorem
                                ipsum dolor sit amet?</h4>
                            <div class="faq-a">
                                <p>Suspendisse gravida gravida orci ut egestas. In in libero faucibus tortor
                                    blandit iaculis a fermentum lectus. Proin dictum lacus id fringilla
                                    interdum. </p>
                            </div>
                        </div>
                        <!--//item-->
                        <div class="item">
                            <h4 class="faq-q mb-2"><i class="far fa-question-circle mr-2 text-primary"></i>Can I lorem
                                ipsum
                                dolor sit amet?</h4>
                            <div class="faq-a">
                                <p>Nam feugiat quam nec ex consectetur volutpat. Phasellus urna diam,
                                    finibus non enim id, placerat facilisis orci. Maecenas tristique orci
                                    sit amet sem suscipit, vitae auctor lectus pellentesque. </p>
                            </div>
                        </div>
                        <!--//item-->
                        <div class="item">
                            <h4 class="faq-q mb-2"><i class="far fa-question-circle mr-2 text-primary"></i>Does lorem
                                ipsum
                                dolor sit amet?</h4>
                            <div class="faq-a">
                                <p>Nam feugiat quam nec ex consectetur volutpat. Phasellus urna diam,
                                    finibus non enim id, placerat facilisis orci. Maecenas tristique orci
                                    sit amet sem suscipit, vitae auctor lectus pellentesque. </p>
                            </div>
                        </div>
                        <!--//item-->
                    </div>
                    <!--//faq-items-->
                </div>
            </div>
            <!--//row-->
        </div>
        <!--//container-inner-->
    </div>
    <!--//container-->
</div>
<!--//section-faq-->