<div id="section-more" class="section section-related py-5">
    <div class="container">
        <h3 class="section-title mb-5">More Courses You May Like</h3>
        <div class="related-items row">
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <div class="item">
                    <div class="item-thumb">
                        <img class="img-fluid rounded-top" src="assets/images/course-1.jpg" alt="">
                    </div>
                    <!--//thumb-holder-->
                    <div class="item-desc p-4 rounded-bottom">
                        <h4 class="title mb-3"><a href="#">Course Title Lorem Ipsum</a></h4>
                        <div class="summary mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam ac aliquet felis. Suspendisse dignissim neque nibh, vitae vulputate elit
                            luctus accumsan.
                        </div>
                        <div class="text-center">
                            <a class="btn btn-ghost btn-block" href="#">Find out more</a>
                        </div>
                    </div>
                    <!--//desc-->

                </div>
                <!--//item-->
            </div>
            <!--//col-->
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <div class="item">
                    <div class="item-thumb">
                        <img class="img-fluid rounded-top" src="assets/images/course-2.jpg" alt="">
                    </div>
                    <!--//thumb-holder-->
                    <div class="item-desc p-4 rounded-bottom">
                        <h4 class="title mb-3"><a href="#">Course Title Lorem Ipsum</a></h4>
                        <div class="summary mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam ac aliquet felis. Suspendisse dignissim neque nibh, vitae vulputate elit
                            luctus accumsan.
                        </div>
                        <div class="text-center">
                            <a class="btn btn-ghost btn-block" href="#">Find out more</a>
                        </div>
                    </div>
                    <!--//desc-->

                </div>
                <!--//item-->
            </div>
            <!--//col-->
            <div class="col-12 col-lg-4">
                <div class="item">
                    <div class="item-thumb">
                        <img class="img-fluid rounded-top" src="assets/images/course-3.jpg" alt="">
                    </div>
                    <!--//thumb-holder-->
                    <div class="item-desc p-4 rounded-bottom">
                        <h4 class="title mb-3"><a href="#">Course Title Lorem Ipsum</a></h4>
                        <div class="summary mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam ac aliquet felis. Suspendisse dignissim neque nibh, vitae vulputate elit
                            luctus accumsan.
                        </div>
                        <div class="text-center">
                            <a class="btn btn-ghost btn-block" href="#">Find out more</a>
                        </div>
                    </div>
                    <!--//desc-->

                </div>
                <!--//item-->
            </div>
            <!--//col-->
        </div>
        <!--//row-->
    </div>
    <!--//container-->
</div>
<!--//section-8-->