<div id="section-pricing" class="section-pricing py-5">
    <div class="container">
        <div class="single-col-max mx-auto">
            <h3 class="text-center mb-5">Join This Course</h3>
            <div class="pricing-plan">
                <div class="row">
                    <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                        <div class="plan-item rounded">
                            <div class="plan-header">
                                <h4 class="plan-heading rounded-top p-3  theme-bg-primary">Free</h4>
                            </div>
                            <!--//plan-header-->

                            <div class="plan-details p-4">
                                <div class="plan-desc text-center mb-4">
                                    <div class="plan-price">$0</div>
                                    <div class="plan-price-desc">Limited Access</div>
                                </div>
                                <div class="plan-content px-3">
                                    <div class="plan-content-intro">Join free and you'll get:</div>
                                    <ul class="plan-content-list list-unstyled">
                                        <li><i class="theme-check-icon fas fa-check mr-2"></i>Access to
                                            basic level videos
                                        </li>
                                        <li><i class="theme-check-icon fas fa-check mr-2"></i>3 bonus
                                            resources
                                        </li>
                                    </ul>

                                </div>
                                <!--//plan-content-->

                            </div>
                            <!--//plan-content-->
                            <div class="plan-cta text-center px-4">
                                <a class="btn btn-ghost btn-block"
                                    href="https://themes.3rdwavemedia.com/bootstrap-templates/product/devcourse-bootstrap-4-course-landing-page-template/"
                                    target="_blank">Join Free</a>
                            </div>
                        </div>
                        <!--//plan-item-->
                    </div>
                    <!--//col-->
                    <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                        <div class="plan-item rounded">
                            <div class="plan-header">
                                <h4 class="plan-heading rounded-top p-3 theme-bg-primary">Premium</h4>
                            </div>
                            <!--//plan-header-->

                            <div class="plan-details p-4">
                                <div class="plan-desc text-center mb-4">
                                    <div class="plan-price">$99</div>
                                    <div class="plan-price-desc">Unlimited Access</div>
                                </div>
                                <div class="plan-content px-3">
                                    <div class="plan-content-intro">Join free and you'll get:</div>
                                    <ul class="plan-content-list list-unstyled">
                                        <li><i class="theme-check-icon fas fa-check mr-2"></i>Access to all
                                            80+ videos
                                        </li>
                                        <li><i class="theme-check-icon fas fa-check mr-2"></i>Access to all
                                            40+ resources
                                        </li>
                                        <li><i class="theme-check-icon fas fa-check mr-2"></i>Access to
                                            projects source code
                                        </li>

                                        <li><i class="theme-check-icon fas fa-check mr-2"></i>Exclusive
                                            support forum
                                        </li>
                                        <li><i class="theme-check-icon fas fa-check mr-2"></i>Free updates
                                        </li>

                                        <li><i class="theme-check-icon fas fa-check mr-2"></i>Digital
                                            certificate
                                        </li>
                                    </ul>

                                </div>
                                <!--//plan-content-->

                            </div>
                            <!--//plan-content-->
                            <div class="plan-cta text-center px-4">
                                <a class="btn btn-primary btn-block"
                                    href="https://themes.3rdwavemedia.com/bootstrap-templates/product/devcourse-bootstrap-4-course-landing-page-template/"
                                    target="_blank">Enrol Now</a>
                            </div>
                        </div>
                        <!--//plan-item-->
                    </div>
                    <!--//col-->
                </div>
                <!--//row-->
            </div>
            <!--//pricing-plan-->
        </div>
    </div>
    <!--//container-->
</div>
<!--//section-pricing-->