<div class="pb-5">
    <div class="container">
        <div class="container-inner p-5 position-relative theme-bg-primary rounded">
            <div class="section-bg-container"></div>
            <div class="row">
                <div class="col-12 col-lg-3">
                    <div class="tutor-img-holder mb-5 mb-lg-0 text-center">
                        <img class="tutor-profile img-fluid rounded" src="assets/images/tutor.jpg" alt="">
                    </div>
                    <!--//tutor-img-holder-->
                </div>
                <!--//col-->
                <div class="col-12 col-lg-9">
                    <div class="pl-lg-4">
                        <h3 class="section-title mb-4 text-white text-lg-left">Meet The Tutor</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at hendrerit
                            augue, eu pellentesque dolor. Praesent vel congue velit. Fusce lorem nisl,
                            condimentum in pulvinar et, laoreet vel felis. Duis tincidunt ex sed risus
                            posuere, quis venenatis quam tincidunt. Quisque arcu lacus, mollis volutpat
                            turpis sit amet, interdum eleifend sem.</p>
                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                            Curae; Etiam auctor leo at mi dignissim, tempor porttitor leo vehicula.</p>
                        <div class="text-center text-lg-left">
                            <ul class="social-list list-unstyled mt-4 mb-0 mx-auto mx-lg-0">
                                <li class="list-inline-item"><a href="#"><i class="fab fa-github fa-fw"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-globe fa-fw"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-blog fa-fw"></i></a></li>
                            </ul>
                            <!--//social-list-->
                        </div>
                    </div>
                </div>
                <!--//col-->
            </div>
            <!--//row-->
        </div>
        <!--//container-inner-->
    </div>
    <!--//container-->
</div>
<!--//section-tutor-->