<div class="section section-contact text-center">
    <div class="container">
        <div class="container-inner p-5 position-relative theme-bg-primary rounded text-white">
            <div class="section-bg-container"></div>
            <div class="section-col-max mx-auto">
                <h3 class="section-title mb-4 text-white">Contact Us</h3>
                <div class="profile-holder mb-3">
                    <img style="margin: 30px; width: 140px;" class="profile-image" src="assets/images/team/hamilamailee.jpeg"
                        alt="image">
                    <img style="margin: 30px; width: 140px;" class="profile-image" src="assets/images/team/ahmadsalimi.jpg"
                        alt="image">
                </div>
                <p class="intro">Help us improve this site and course by sending your feedbacks.
                    You can contact <a href="#">hamilamailee@yahoo.com</a> or <a
                        href="#">ahsa9978@gmail.com</a> for further suggestions.
                <h5 class="intro text-white">Know someone who may find the course useful?</h5>
                <div>Help them get find SUTAP like you did! :)</div>
            </div>
            <!--//section-col-max-->
        </div>
        <!--//container-inner-->
    </div>
    <!--//container-->
</div>
<!--//section-->

<footer class="footer pb-5 text-center">
    <div class="container">
        <div class="copyright mb-2">
            <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a class="theme-link"
                href="http://themes.3rdwavemedia.com" target="_blank">Hamila Mailee ~ Ahmad Salimi</a>
        </div>
        <div class="legal mb-0">
            <ul class="list-inline mb-0">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item theme-text-light">|</li>
                <li class="list-inline-item"><a href="#">Terms of Services</a></li>
            </ul>
        </div>
    </div>
    <!--//container-->
</footer>
<!--//footer-->