<!--//module-intro-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">EE1.1</span><a
                href="https://github.com/AdvProg2020/TA_AdditionalProblems/blob/master/html_validator/README.md"
                class="exercise">Question</a>
        </div>
        <div class="col-3 text-right extra-info">Exercise</div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9">
            <span class="theme-text-secondary mr-2">EE1.2</span><a class="video-play-trigger"
                href="https://www.aparat.com/v/nCaQA" data-toggle="modal" data-target="#modal5">Video</a><span
                class="badge badge-primary ml-2">Video</span>
        </div>
        <div class="col-3 text-right extra-info">00:41:07</div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">EE1.3</span>Codes
            from the
            session
            available<a
                href="https://github.com/AdvProg2020/TA_AdditionalProblems/blob/master/html_validator/src/HtmlValidator.java"
                class="zip-code"> here</a>
        </div>
        <div class="col-3 text-right extra-info">Code</div>
    </div>
</div>
<!--//module-sub-item-->