<!--//module-intro-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">EE2.1</span><a
                href="https://github.com/AdvProg2020/TA_AdditionalProblems/blob/master/supermarket/README.md"
                class="exercise">Question</a>
        </div>
        <div class="col-3 text-right extra-info">Exercise</div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9">
            <span class="theme-text-secondary mr-2">EE2.2</span><a class="video-play-trigger"
                href="https://www.aparat.com/v/nCaQA" data-toggle="modal" data-target="#modal14">Video - Part1</a><span
                class="badge badge-primary ml-2">Video</span>
        </div>
        <div class="col-3 text-right extra-info">01:12:14</div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9">
            <span class="theme-text-secondary mr-2">EE2.3</span><a class="video-play-trigger"
                href="https://www.aparat.com/v/nCaQA" data-toggle="modal" data-target="#modal15">Video - Part2</a><i>
                    In this part, "Stream" and "Exception" were used, you can
                just skip them</i>
            <span class="badge badge-primary ml-2">Video</span>
        </div>
        <div class="col-3 text-right extra-info">01:10:49</div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">EE2.4</span>Codes
            from the
            session
            available<a href="https://github.com/AdvProg2020/TA_AdditionalProblems/tree/master/supermarket/src"
                class="zip-code"> here</a>
        </div>
        <div class="col-3 text-right extra-info">Code</div>
    </div>
</div>
<!--//module-sub-item-->