<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9">
            <span class="theme-text-secondary mr-2">3.1</span><a class="video-play-trigger"
                href="https://www.aparat.com/v/gbtGH" data-toggle="modal" data-target="#modal6">Video</a><span
                class="badge badge-primary ml-2">Video</span>
        </div>
        <div class="col-3 text-right extra-info">01:38:29</div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">3.2</span>Codes from the
            session
            available<a href="https://github.com/AdvProg2020/TAClass_Session2" class="zip-code"> here</a>
        </div>
        <div class="col-3 text-right extra-info">Code</div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">3.3</span><a
                href="https://github.com/AdvProg2020/Documents/raw/master/homeworks/HW2/HW2.pdf"
                class="exercise">Exercise2
            </a>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Exercise
        </div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">3.4</span><a
                href="https://quera.ir/course/assignments/14621/problems" class="judge">Quera Judge</a>
        </div>
        <div class="col-3 text-right extra-info">Judge</div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">3.5</span>Accepted
            answers for
            exercise2,<a class="zip-code"
                href="https://drive.google.com/file/d/1xMjLmwoAUmDpldswt9AU-MpegxaLo9YX/view?usp=sharing"> .zip</a>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Exercise
        </div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">3.6</span>Use
            <a href="https://www.slideshare.net/arturoherrero/clean-code-8036914" class="reference-link">this</a>
            to compare your output to the output expected
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Documentation
        </div>
    </div>
</div>
<!--//module-sub-item-->