<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">1.1</span>Data Structures
            in
            Java:
            <ul style="list-style-type: circle;" class="list pl-5">
                <br>
                <li>
                    <a href="https://www.geeksforgeeks.org/set-in-java/">Set</a></li>
                <li>
                    <a href="https://www.geeksforgeeks.org/arraylist-in-java/">Arraylist(1)</a>
                </li>
                <li>
                    <a href="https://www.w3schools.com/java/java_arraylist.asp">Arraylist(2)</a>
                </li>
                <li>
                    <a href="https://www.w3schools.com/java/java_hashmap.asp">HashMap</a></li>
                <li>
                    <a href="https://www.geeksforgeeks.org/stringbuilder-class-in-java-with-examples/"">StringBuilder</a></li>
                <li>
                    <a href=" https://www.geeksforgeeks.org/treeset-in-java-with-examples/"">TreeSet</a></li>
            </ul>
        </div>
        <div class=" col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Documentation
        </div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">1.2</span>Regex in Java available in these sources:
            <ul style="list-style-type: circle;" class="list pl-5">
                <br>
                <li>
                    <a href="https://www.tutorialspoint.com/java/java_regular_expressions.htm">Tutorialspoint</a></li>
                <li>
                    <a href="https://www.geeksforgeeks.org/regular-expressions-in-java/">GeeksForGeeks</a></li>
                <li><a href="https://www.javatpoint.com/java-regex">JavaTpoint</a>
                </li>
                <li><a href="https://regexr.com/">Regexer</a></li>
            </ul>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Documentation
        </div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">1.3</span><a
                href="https://github.com/AdvProg2020/Documents/raw/master/homeworks/HW1/HW1.pdf"
                class="exercise">Exercise1
            </a>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Exercise
        </div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">1.4</span><a
                href="https://quera.ir/course/assignments/14356/problems" class="judge">Quera Judge</a>
        </div>
        <div class="col-3 text-right extra-info">Judge</div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">1.5</span>Accepted
            answers for
            exercise1,<a class="zip-code"
                href="https://drive.google.com/file/d/1V56V40oxhNkIqgqNyJRdZk-CraXHlLTJ/view?usp=sharing"> .zip</a>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Exercise
        </div>
    </div>
</div>
<!--//module-sub-item-->