<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9">
            <span class="theme-text-secondary mr-2">12.1</span>Server and Socket programming : <a
                class="video-play-trigger" href="https://www.aparat.com/v/gbtGH" data-toggle="modal"
                data-target="#modal20">Video</a><span class="badge badge-primary ml-2">Video</span>
        </div>
        <div class="col-3 text-right extra-info">01:22:52</div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9">
            <span class="theme-text-secondary mr-2">12.2</span>Multiple clients with Thread : <a
                class="video-play-trigger" href="https://www.aparat.com/v/gbtGH" data-toggle="modal"
                data-target="#modal21">Video</a><span class="badge badge-primary ml-2">Video</span>
        </div>
        <div class="col-3 text-right extra-info">00:51:22</div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">12.3</span><a
                href="https://github.com/AdvProg2020/Documents/tree/master/homeworks/HW3-2"
                class="exercise">Exercise3.2</a> : Thread and Server
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Exercise
        </div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">12.4</span><a
                href="https://quera.ir/course/assignments/17794/problems" class="judge">Quera Judge</a>
        </div>
        <div class="col-3 text-right extra-info">Judge</div>
    </div>
</div>
<!--//module-sub-item-->