<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9">
            <span class="theme-text-secondary mr-2">7.1</span><a class="video-play-trigger"
                href="https://www.aparat.com/v/gbtGH" data-toggle="modal" data-target="#modal12">Video</a><span
                class="badge badge-primary ml-2">Video</span>
        </div>
        <div class="col-3 text-right extra-info">01:27:41</div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">7.2</span>Codes from the
            session
            available
            <a href="https://github.com/AdvProg2020/TAClass_Session5" class="zip-code">here</a>
        </div>
        <div class="col-3 text-right extra-info">Code</div>
    </div>
</div>
<!--//module-sub-item-->