<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9">
            <span class="theme-text-secondary mr-2">5.1</span>Debugging in Intellij : <a class="video-play-trigger"
                href="https://www.aparat.com/v/gbtGH" data-toggle="modal" data-target="#modal9">Video</a>
            <span class="badge badge-primary ml-2">Video</span>
        </div>
        <div class="col-3 text-right extra-info">00:17:40</div>
    </div>
</div>
<!--//module-sub-item-->