<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9">
            <span class="theme-text-secondary mr-2">10.1</span><a class="video-play-trigger"
                href="https://www.aparat.com/v/gbtGH" data-toggle="modal" data-target="#modal18">Video</a><span
                class="badge badge-primary ml-2">Video</span>
        </div>
        <div class="col-3 text-right extra-info">01:12:15</div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">10.2</span><a
                href="https://github.com/AdvProg2020/Documents/raw/master/homeworks/HW3-1/HW3.pdf"
                class="exercise">Exercise3.1
            </a>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Exercise
        </div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">10.3</span><a
                href="https://quera.ir/course/assignments/16909/problems" class="judge">Quera Judge</a>
        </div>
        <div class="col-3 text-right extra-info">Judge</div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">10.4</span>Accepted
            answers for
            exercise3.1,
            <a class="zip-code"
                href="https://drive.google.com/file/d/1fl9LunwMTgZytqRMmQ6YkXrjyEe3MTzj/view?usp=sharing">.zip</a>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Exercise
        </div>
    </div>
</div>
<!--//module-sub-item-->