<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9">
            <span class="theme-text-secondary mr-2">4.1</span><a class="video-play-trigger"
                href="https://www.aparat.com/v/gbtGH" data-toggle="modal" data-target="#modal8">Video</a><span
                class="badge badge-primary ml-2">Video</span>
        </div>
        <div class="col-3 text-right extra-info">00:43:59</div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">6.2</span>A
            <a href="https://drive.google.com/file/d/1BK3JHICI4pdHJvhYdGRAzLmvdX3EEm0F/view?usp=sharing">summary</a>
            of the Git class
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Documentation
        </div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">6.3</span>Learn Git commands
            <a href="https://git-scm.com/docs/gittutorial">here</a>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Documentation
        </div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">6.4
        </span>Git cheat sheet
            <a href="https://try.github.io/">here</a>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Documentation
        </div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">6.5
        </span>How to use github with Intellij
            <a href="https://www.jetbrains.com/help/idea/using-git-integration.html">here</a>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Documentation
        </div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">6.6
        </span><B>RECOMMENDED</B> Learn about branches with pictures
            <a href="https://learngitbranching.js.org/">here</a>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Documentation
        </div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9">
            <span class="theme-text-secondary mr-2">6.5</span>
            <B>RECOMMENDED</B> Learn pull request with the video
            <a class="video-play-trigger"
                href="https://www.aparat.com/v/gbtGH" data-toggle="modal" data-target="#modal11">
                here</a><span
                class="badge badge-primary ml-2">Video</span>
        </div>
        <div class="col-3 text-right extra-info">00:08:12</div>
    </div>
</div>
<!--//module-sub-item-->
