<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">P3.1</span>Documentation:
            <p>
            <ul style="list-style-type: circle;">
                <li><a href="https://github.com/AdvProg2020/Documents/releases/download/Phase_3/PHASE3.pdf" style="color: #85C196">Phase3</a>
                </li>
                <li><a href="https://github.com/AdvProg2020/Documents/releases/download/Phase_3/network.pdf" style="color: #85C196">Computer network document</a>
                </li>
                <li><a href="https://github.com/AdvProg2020/Documents/releases/download/Phase_3/bank.pdf" style="color: #85C196">Bank implementation document</a>
                </li> 
                <li><a href="https://github.com/AdvProg2020/Documents/releases/download/Phase_3/database.pdf" style="color: #85C196">Database document</a>
                </li> 
                <li><a href="https://github.com/AdvProg2020/Documents/releases/download/Phase_3/p2p.pdf" style="color: #85C196">Peer-to-Peer document</a>
                </li> 
                <li><a href="https://github.com/AdvProg2020/Documents/releases/download/Phase_3/rest.pdf" style="color: #85C196">REST document</a>
                </li> 
                <li><a href="https://github.com/AdvProg2020/Documents/releases/download/Phase_3/security.pdf" style="color: #85C196">Security document</a>
                </li> 
                <li><a href="https://github.com/AdvProg2020/Documents/releases/download/Phase_3/bank.jar" style="color: #85C196">Bank Java Executable</a>
                </li> 
                <li><a href="https://github.com/AdvProg2020/Documents/releases/download/Phase_3/BankAPI.java" style="color: #85C196">A simple example of a bank client code </a>
                </li>           
            </ul>
            </p>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Documentation
        </div>
    </div>
</div>
<!--//module-sub-item-->