<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">P0.1</span>Documentation:
            <p>
            <ul style="list-style-type: circle;">
                <li><a href="https://github.com/AdvProg2020/Documents/releases/download/Phase_0/PHASE0.pdf" style="color: #85C196">Phase0</a>
                </li>
                <li><a href="https://github.com/AdvProg2020/Documents/releases/download/Phase_0/uml.pdf" style="color: #85C196">UML tutorial</a>
                </li>
                <li><a href="https://github.com/AdvProg2020/Documents/releases/download/Phase_0/trello.pdf" style="color: #85C196">Trello tutorial</a>
                </li>            
            </ul>
            </p>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Documentation
        </div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">P0.2</span>
            <audio controls>
                <source src="https://drive.google.com/file/d/1b1ES0LcxJ3YgqHSVWc_YcsIrPOa61zyw/view?usp=sharing"/>
            </audio>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Documentation
        </div>
    </div>
</div>
<!--//module-sub-item-->