<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">P1.1</span>Documentation:
            <ul style="list-style-type: circle;" class="list pl-5">
                <br>
                <li><a href="https://github.com/AdvProg2020/Documents/releases/download/Phase_0/PHASE0.pdf">Phase0</a>
                </li>
            </ul>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Documentation
        </div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9">
            <span class="theme-text-secondary mr-2">P1.2</span>Maven, Unit test and Code coverage : <a
                class="video-play-trigger" href="https://www.aparat.com/v/gbtGH" data-toggle="modal"
                data-target="#modal13">Video</a><span class="badge badge-primary ml-2">Video</span>
        </div>
        <div class="col-3 text-right extra-info">00:30:14</div>
    </div>
</div>
<!--//module-sub-item-->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">P1.3</span>A<a
                href="https://quera.ir/course/5122/note/30844" class="reference-link"> note </a>on how to use Test for phase 1 of the project
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Documentation
        </div>
    </div>
</div>
<!--//module-sub-item-->