<div class="module-sub-item p-3">
        <div class="row justify-content-between">
                <div class="col-9"><span class="theme-text-secondary mr-2">P3.1</span>Documentation:
                        <ul style="list-style-type: circle;" class="list pl-5">
                                <br>
                                <li><a href="https://github.com/AdvProg2020/Documents/releases/download/Phase_3/PHASE3.pdf">Phase3</a>
                                </li>
                                <li><a href="https://github.com/AdvProg2020/Documents/releases/download/Phase_3/network.pdf">Computer
                                                network document</a>
                                </li>
                                <li><a href="https://github.com/AdvProg2020/Documents/releases/download/Phase_3/bank.pdf">Bank
                                                implementation document</a>
                                </li>
                                <li><a href="https://github.com/AdvProg2020/Documents/releases/download/Phase_3/database.pdf">Database
                                                document</a>
                                </li>
                                <li><a href="https://github.com/AdvProg2020/Documents/releases/download/Phase_3/p2p.pdf">Peer-to-Peer
                                                document</a>
                                </li>
                                <li><a href="https://github.com/AdvProg2020/Documents/releases/download/Phase_3/rest.pdf">REST
                                                document</a>
                                </li>
                                <li><a href="https://github.com/AdvProg2020/Documents/releases/download/Phase_3/security.pdf">Security
                                                document</a>
                                </li>
                                <li><a href="https://github.com/AdvProg2020/Documents/releases/download/Phase_3/bank.jar">Bank
                                                Java Executable</a>
                                </li>
                                <li><a href="https://github.com/AdvProg2020/Documents/releases/download/Phase_3/BankAPI.java">A
                                                simple example of a bank client code </a>
                                </li>
                        </ul>
                </div>
                <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Documentation
                </div>
        </div>
</div>
<!--//module-sub-item-->