<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">P2.1</span>Documentation:
            <ul style="list-style-type: circle;" class="list pl-5"><br>
                <li><a href="https://github.com/AdvProg2020/Documents/releases/download/Phase_2/PHASE2.pdf">Phase2</a>
                </li>
            </ul>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Documentation
        </div>
    </div>
</div>
<!--//module-sub-item-->